@for (player of game.players; track player; let i = $index) {
  <app-player
    [ngStyle]="{ top: 100 + i * 90 + 'px' }"
    [playerActive]="i == game.currentPlayer"
    class="player-position"
    [name]="player"
  ></app-player>
}
<div class="field">
  <div class="card-stack">
    <!--Stack for cards -->
    @for (card of [0, 1, 2, 3]; track card; let i = $index) {
      <img
        [ngStyle]="{ right: i * 5 + 'px' }"
        src="./assets/imgs/cards/card_cover.png"
        alt=""
      />
    }
    <img
      (click)="takeCard()"
      [ngStyle]="{ right: 25 + 'px' }"
      src="./assets/imgs/cards/card_cover.png"
      alt=""
    />

    <!--Stack for played cards -->
    @for (card of game.playedCards; track card) {
      <img
        class="played-card"
        [ngStyle]="{ right: 25 + 'px' }"
        src="./assets/imgs/cards/{{ card }}.png"
        alt=""
      />
    }

    <!--Current card aniation-->
    @if (game.pickCardAnimation) {
      <img
        class="pick-card"
        (click)="takeCard()"
        [ngStyle]="{ right: 25 + 'px' }"
        src="./assets/imgs/cards/{{ game.currentCard }}.png"
        alt=""
      />
    }
  </div>
</div>

<app-game-description
  [card]="game.currentCard"
  class="pin-bottom"
></app-game-description>

<button mat-fab class="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
