@import "./../../styles.scss";

.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url(../../assets/imgs/board.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  @include dFlex(center, center);
}

.card-stack {
  position: relative;
  > img {
    position: absolute;
    width: 80px;
    height: 120px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1) translateY(-5px);
  }
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.7) translateX(50px);
  }
}

.pick-card {
  transition: all 0.1s ease-in-out;
  // transform: scale(1.5) !important;
  animation: pick-card-animation 2s ease-in-out;
}
